<%= form_for(@empresa) do |f| %>
<div class="form-inline">
  <% if @empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@empresa.errors.count, "error") %> prohibited this empresa from being saved:</h2>

      <ul>
      <% @empresa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome,'Nome:' %><br>
    <%= f.text_field :nome ,:required => true, :class => 'form-control', :placeholder => 'Digite o nome' %>
  </div>
  <div class="field">
    <%= f.label :endereco,'Endereço:' %><br>
    <%= f.text_field :endereco, :required => true, :class => 'form-control', :placeholder => 'Digite o endereço'%>
  </div>
  <div class="actions">
    <%= f.submit "Cadastrar", :class => 'btn btn-default' %>
  </div>
  </div>
<% end %>
