<p id="notice"><%= notice %></p>

<center>
  <h1>Empresas 
    <span class="badge">
      <h6><%= "#{@empresas.count}"%></h6>
    </span>
  </h1>
<br>

<table class="table table-striped table-bordered">
  <thead class="alert alert-info">
    <tr>
      <th>Nome:</th>
      <th>Endereço:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @empresas.each do |empresa| %>
      <tr>
        <td><strong><%= empresa.nome %></strong></td>
        <td><strong><%= empresa.endereco %></strong></td>
        <td><center><%= link_to '  Visualizar', empresa, :class => 'glyphicon glyphicon-zoom-in btn btn-default' %></center></td>
        <td><center><%= link_to '  Editar ', edit_empresa_path(empresa), :class => 'glyphicon glyphicon-pencil btn btn-default' %></center></td>
        <td><center><%= link_to '  Apagar', empresa , :class => 'glyphicon glyphicon-trash btn btn-default' , method: :delete, data: { confirm: 'Você tem certeza?'} %></center></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to ' Cadastrar', new_empresa_path, :class => 'btn btn-default glyphicon glyphicon-plus' %>
</center>
