<p id="notice"><%= notice %></p>
<table class="table table-bordered">
	<thead class="alert-info">
  	<tr> 
  		<th>Nome:</th>
  		<th>Endereço:</th>
  	</tr>
  </thead>	
  <tbody>
  	<tr>
  		<th><%= @empresa.nome %></th>
  		<th><%= @empresa.endereco %></th>
  </tr>
  </tbody>
</table>
<center>
<%= link_to ' Editar', edit_empresa_path(@empresa),:class => 'btn btn-default  glyphicon glyphicon-pencil' %>
<%= link_to 'Voltar', empresas_path, :class => 'btn btn-default' %>
