<p id="notice"><%= notice %></p>
<table class="table table-striped table-bordered">
	<thead>
  	<tr> 
  		<th>Nome:</th>
  		<th>Endereço:</th>
  	</tr>
  </thead>	
  <tbody>
  	<tr>
  		<th><%= @empresa.nome %></th>
  		<th><%= @empresa.endereco %></th>
  </tr>
  </tbody>
</table>
<%= link_to 'Edit', edit_empresa_path(@empresa) %> |
<%= link_to 'Back', empresas_path %>
